:root{
  
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  font-size: 10px;
  
}

*{
  
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Roboto", sans-serif;
  
}

body{
  
  background-color: var(--bg);
  
}

#home{
  
  padding-top: 8rem;
  
}

section{
  
  padding: 5rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
  
}

.header{
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: var(--border);
  background-color: var(--bg);
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 1rem 2rem;
  max-width: 1200px;
  
}

.elements-header{
  
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding-top: 1.5rem;
padding-bottom: 1.5rem;

}

.logo{
  
  display: flex;
  align-items: center;
  
}

.navbar a {
  
  font-size: 1.8rem;
  margin: 0 1rem;
  color: #FFFFFF;
  
}

.navbar a:hover{
  
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
  font-size: 2rem;
  
}


.icons img{
  
  margin: 1rem;
  cursor: pointer;
  
}

.icons img:hover{
  
  width: 40px;
  height: 40px;
  
}

.btn{
  
  background: var(--main-color);
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  
}

.btn:hover{
  
  letter-spacing: 0.1rem;
  
}

.home-container{
  
  background: url("../assets/home-img.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  
}

.home-container section{
  
display: flex;
align-items: center;
min-height: 100vh;
  
}

.content{
  
  max-width: 60rem;
  padding-top: 3rem;
  
}

.content h1{
  
  color: #fff;
  font-size: 6rem;
  
}

.content p{
  
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.8;
  padding: 1rem 0;
  
}

.title{
  
  font-size: 4rem;
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
  
}

.title span{
  
  color: #fff;
  text-transform: uppercase;
  
}

.about .row{
  
  display: flex;
  align-items: center;
  background-color: var(--black);
  flex-direction: column;
  
}

@media (min-width: 768px){
  
  .about .row{
    flex-direction: row;
   
  }}
  
  .about .row img{
    
    width: 100%;
    
  }

.about .row .content{
  
  padding: 2rem;
  
}

.about .row .content h3{
  
  font-size: 3rem;
  color: #fff;
  
}

.about .row .content p{
  
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8rem;
  
}

 .box-container{
   
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   cursor: pointer;
   
 }

.menu .box-container .box{
  
  text-align: center;
  border: var(--border);
  padding: 5rem;
  
}

.menu .box-container .box img{
  
  height: 10rem;
  
}

.menu .box-container .box h3{
  
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
  
}

.menu .box-container .box .price{
  
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem 0;
  
}

.menu .box-container .box .price span{
  
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
  
}

.menu .box-container .box img{
  
 border-radius: 50px;
  
}

.menu .box-container .box:hover{
  
  background-color: #fff;
  
}

.menu .box-container .box:hover>*{
  
  color: var(--black);
  
}
.review .box-container .box{
  
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
  
}

.review .box-container .box p{
  
  font-size: 1.5rem;
  color: #fff;
  padding: 2rem 0;
  line-height: 1.8;
  font-weight: lighter;
  
}

.review .box-container .box h3{
  
  color: #fff;
  font-size: 2rem;
  margin: 1rem 0;
  
}

.review .box-container .box .user{
  
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  
}

.address{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.address iframe{
  
  width: auto;
  height: auto;
  
}

.footer{
  
  text-align: center;
  
}

.footer .share{
  
  padding: 1rem 0;
  
}

.footer .share img{
  
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
  
}

.footer .share img:hover{
  
  background-color: var(--main-color);
  
}

@media (max-width: 768px) {
  
  .elemnts-header {
    
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
    
  }

  .navbar {
    
    display: none;
    text-align: center;
    
  }

  .navbar.active {
    
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateX(-10%);
    background-color: var(--bg);
    padding: 1rem 0;
    
  }

  .navbar a {
    
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    
  }

  .icons {
    
    margin-top: 1rem;
    
  }

  .menu-btn {
    
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
    
  }
  
}

@media (max-width: 480px) {
  
  .navbar a {
    
    font-size: 1.3rem;
    
  }

  .navbar {
    
    display: none;
    
  }

  .navbar.active {
    
    display: block;
    
  }
  
}

@media (max-width: 768px) {
  
  .header {
    
    flex-direction: column;
    align-items: flex-start;
    
  }

  .navbar {
    
    display: none;
    
  }

  .icons {
    
    margin-top: 1rem;
    
  }
  
}
